{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Matrix multiplication</title>
    </head>

    <body>
        <br/>
        <br/>
        <form method="post" novalidate action="{% url 'index' %}" class="matrix_form">
            {% csrf_token %}
            <span>Matrix A:</span>
            <br/>
            {{ form.matrix_a }}
            <div class="error_a"></div>
            <br/>
            <br/>
            <span>Matrix B:</span>
            <br/>
            {{ form.matrix_b }}
            <div class="error_b"></div>
            <br/>
            <br/>
            <input type="submit" value="Multiply"/>
        </form>
        <br/>

        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "js/timer.js" %}"></script>
    </body>
</html>
